
<section class= section1>
  <article class="media">
    <div class="media-content">
      <div class="content has-text-centered">
        <p>
          <strong i class="fa fa-rocket fa-4x "></i> </strong>
          <strong class="is-size-1" style="font-family: arial black;">KicksPics</strong>
        </p>
      </div>
      <div class="columns is-centered">
        <div class="column is-5">
          <br>
          <%= link_to "ログイン", new_user_session_path, class: "button is-info is-light is-fullwidth" %>
          <br>
          <%= link_to "新規登録", new_user_registration_path, class: "button is-info is-light is-fullwidth" %>
        </div> 
      </div>
    </div>
  </article>
  <br>
  <div class="columns is-centered,">
    <div class="column">
      <figure>
        <div class="main-image"></div>
      </figure>
    </div>
  </div>
</section>
 


<body>
 
<main>
<ul class="contents">

 <li class="animationTarget">
   <%= image_tag 'kicks1.png' ,class: "home-image"%>
   <div class="contentsText">
   <h2>趣味で繋がる投稿アプリ</h2>
   <p>
     KicksPicsは誰でも簡単に投稿・閲覧ができる<br>写真投稿アプリです。
     
   </p>
   </div>
 </li>

 <li class="animationTarget">
   <%= image_tag 'kicks2.png' ,class: "home-image"%>
   <div class="contentsText">
    <h2>お気に入りの写真をシェア</h2>
   <p>
     自分のお気に入りの写真をシェアしましょう。<br>
     お気に入りの投稿にはいいね！ができる。
   </p>
   </div>
 </li>

 <li class="animationTarget">
   <%= image_tag 'kicks3.png' ,class: "home-image"%>
   <div class="contentsText">
   <h2>日本で会員数急増中</h2>
   <p>
     2021年のサービス開始以来<br>
     多くのユーザーの皆さまにご利用いただいております。
   </p>
   </div>
 </li>

 <li class="animationTarget">
   <%= image_tag 'kicks4.png' ,class: "home-image"%>
   <div class="contentsText">
    <h2>SNS認証に対応</h2>
   <p>
     Facebook,Twitterなどの<br>
     お使いのSNSアカウントでログインできます。
   </p>
   </div>
 </li>

</ul>
</main>
</body>

<footer class="footer">   
   Copyright © KicksPics Corporation
  <br>
   会社概要|プライバシーポリシー|利用規約|KicksiPicsガイド|お知らせ
 <p>
  <i class="fa fa-rocket fa-2x "></i>
  <span class="is-size-4" style="font-family: arial black;">KicksPics</span>
 </p>
</footer>